<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.practice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="fcm_default_channel" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Practice">
        <activity
            android:name=".module.setting.userinfo.UserInfoChangeActivity"
            android:exported="false" />
        <activity
            android:name=".module.setting.chargechage.ChargeChangeActivity"
            android:exported="false" />
        <activity
            android:name=".module.setting.cardlogin.CardLoginConfirmActivity"
            android:exported="false" />
        <activity
            android:name=".module.setting.cardlogin.CardLoginActivity"
            android:exported="false" />
        <activity
            android:name=".module.pay.ScanQrResultActivity"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".module.pay.payment.PayCompletedActivity"
            android:exported="false" />
        <activity
            android:name=".module.pay.payment.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".module.history.graph.HistoryGraphActivity"
            android:exported="false" />
        <activity
            android:name=".module.PushTestActivity"
            android:exported="false" />

        <service
            android:name=".push.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".module.pay.charge.ChargeActivity"
            android:exported="false" />
        <activity
            android:name=".module.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>